.center1 {
    margin: auto;
    width: 80%;
    border: 3px solid #c6b9b9;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  
  section {
    display: table;
  }